* {
	box-sizing: border-box;
}

#stage {
	background-color: lightgreen;
	width: 960px;
	height: 480px;
	margin: 30px auto;
	position: relative;
} 
.hero {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 60px;
	background: url(img/wildman-head.png);
	background-size: contain;
	transform: translate(-50%, -50%) rotate(-90deg);
	transition: all 0.1s;
}
.coin {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
	background: url(img/gold-icon.png);
	background-size: contain;
	transform: translate(-50%, -50%);
	transition: all 0.1s;	
}
#info {
	background-color: lightyellow;
	width: 100px;
	height: 480px;
	top: 30px;
	left: 30px;
	position: fixed;
	padding: 10px;
}